.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 10px 40px 0;
}

.header_rightBtn {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: black;
  height: 30px;
}

.logo {
  width: 25vw;
  object-fit: cover;
}