/* 메뉴 양쪽정렬용 래퍼 */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 20px 200px;
}

/* 로고 */
.logo {
  height: 12vh;
  object-fit: cover;
}

/* 닉네임 및 버튼 부분 */
.logged {
  width: 40vw;
  text-align: right;
}