.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(360px, auto);
  gap: 2em;
  padding: 40px;
  background-color: var(--gray-light);
}

.item {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #aaa;
  padding: 30px 40px 30px;
}