/* 그리드 스타일 */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(360px, auto);
  gap: 2em;
  padding: 40px;
  background-color: var(--gray-light);
}


/* 카드 스타일 */

.item {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid var(--gray-dark);
  border-radius: 5px;
  padding: 30px 40px 30px;
  cursor: pointer;
}


/* 메인 카드 부분 */

hr {
  width: 40%;
  border: 0;
  color: var(--gray-dark);
  opacity: unset;
}

.title {
  font-size: 1.8em;
  font-weight: 700;
}

.content {
  font-size: 1.2em;
  font-weight: 400;

  /* 높이에 맞춰 글자 수 자르기 */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 8em;
  overflow: hidden;
}

.username,
.date {
  line-height: 10px;
  font-size: 1em;
  font-weight: 300;
  color: var(--gray-dark);
}

.emoticon {
  font-size: 2em;
  margin-left: auto;
  margin-top: auto;
}


/* 푸터 */

footer {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  background-color: var(--gray-light);
}