.likeClick {
  cursor: pointer;
  color: var(--pink-dark);
  font-size: 1.2em;
}

#contentUsername {
  font-weight: bold;
}

.form-group {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  background-color: var(--gray-light);
  max-width: 45vw;
  min-width: 12vw;
  margin: 10% auto auto auto;
  box-shadow: 0px 0px 3px 0px var(--gray-dark);
  border-radius: 5px;
  padding: 30px 40px 30px;
}

.buttons>button {
  margin-top: 10px;
}

.buttons {
  text-align: right;
}

hr {
  width: unset;
}