<script>
  function logout() {
    document.cookie = 'Authorization' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    location.href = 'user/logout';
  }
</script>

<nav class="header">
  <div class="wrapper">
    <a href="/">
      <img src="../static/image/002-2.png" class="logo" alt="어떤 일기">
    </a>
    <div>
      {% if username %}
      <button class="header_rightBtn" onclick="logout()">로그아웃</button>
      <button class="header_rightBtn" onclick="location.href='/mypage'">나의 일기</button>
      {% endif %}
      {% if not username %}
      <button class="header_rightBtn" onclick="location.href='/user/login'">로그인</button>
      {% endif %}
    </div>
  </div>
</nav>