<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>어떤일기</title>

    <meta property="og:title" content="어떤일기, AnyDiary" />
    <meta property="og:description" content="오늘은 어떤 일이 있었나요? 여러분의 감정을 짧게 공유해주세요." />
    <meta property="og:image" content="/static/image/meta.png"/>
    {% include 'form.html' %}

    <!-- 로그인 유무에 따라 카드 링크 다르게 설정-->
    <!-- !!!반드시 html 내 위치 유지!!! -->
    <script>
        function list_diary() {
            $.ajax({
                type: 'GET',
                url: '/list',
                data: {},
                success: function (response) {
                    let rows = response['list_diary']
                    for (let i = 0; i < rows.length; i++) {
                        let contentId = rows[i]['contentId']
                        let title = rows[i]['title']
                        let content = rows[i]['content']
                        let username = rows[i]['username']
                        let date = rows[i]['date']
                        let emoticon = rows[i]['emoticon']
                        let temp_html = `
                  {% if username %}
                  <div class="item" onclick="location.href ='/readContent?id=${contentId}'">
                      {% endif %}
                      {% if not username %}
                      <div class="item" onclick="alert('로그인 해주세요'); location.href ='/login';">
                      {% endif %}
                      <h3 class="title">${title}</h3>
                      <hr><br>
                      <p class="content">${content}</p><br>
                      <p class="username">${username}</p>
                      <p class="date">${date}</p>
                      <p class="emoticon">${emoticon}</p>
                  </div>
          `
                        $('.gridContainer').prepend(temp_html)
                    }
                }
            })
        }
    </script>
</head>

<body>
    {% include "header.html" %}
    <div class="gridContainer">
    </div>

    <footer>ⓒ2022 어떤일기</footer>
    <script src="../static/js/main.js"></script>
</body>

</html>