<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Main Style Sheet -->
    <!-- CSS -->
    <link href="{{ url_for('static', filename='post/post.css') }}" rel="stylesheet">

    <!-- normalize -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <!-- header -->
    <link rel="stylesheet" href="../static/css/header.css">
    <!-- global css -->
    <link rel="stylesheet" href="../static/css/global.css">
    <!-- content -->
    <link rel="stylesheet" href="../static/css/readContent.css">

    <title>일기 작성</title>
</head>


<body>

    <h3 class="title">일기 쓰기</h3>

    <!-- Journal Entry Section -->
    <section class="section journal-section">
        <div class="container">
            <div class="container-row container-row-journal">
                <div class="container-item container-item-journal">
                    <form id="entryForm" action="/modiSave" method="post">

                        <label for="title" class="journal-label">제목</label>
                        <input type="text" name="title" id="title" class="entry-text-title"
                            placeholder="제목은 안적어도 괜찮아요. ✏️" value={{content.title}} />
                        <label for="content" class="journal-label">오늘의 일기</label>
                        <textarea name="content" id="content" class="entry-text-box"
                            placeholder="일기를 적어주세요. 💭">{{content.content}}</textarea>
                        <details>
                            <summary class="journal-label">감정 이모티콘 🔻</summary>
                            <div class="wrap">
                                <select class="list" id="emoticon2" name="emoticon2">
                                    <option selected value="😀">😀</option>
                                    <option value="😄">😄</option>
                                    <option value="😆">😆</option>
                                    <option value="😅">😅</option>
                                    <option value="🤣">🤣</option>
                                </select>
                            </div>
                        </details>
                        <input type="hidden" name="contentId" value={{content.contentId}} />
                        <button class="btn-main entry-submit-btn" form="entryForm" type="submit">수정하기</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../static/js/readContent.js"></script>
</body>

</html>