<!DOCTYPE html>
<html lang="ko">

<head>
    {% include 'form.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/post.css">
    <!-- content -->
    <link rel="stylesheet" href="../static/css/readContent.css">

    <title>일기 작성</title>
</head>


<body>
    {% include 'header.html' %}

    <!-- Journal Entry Section -->
    <section class="section journal-section">
        <div class="container">
            <div class="container-row container-row-journal">
                <div class="container-item container-item-journal">
                    <form id="entryForm" action="">
                        <h2 class="title">일기 쓰기</h2>
                        <p class="title"> - - - - </p>
                        <label for="title" class="journal-label">제목</label>
                        <input type="text" name="title" id="title" class="entry-text-title"
                            placeholder="제목은 안적어도 괜찮아요. ✏️" value={{content.title}} />
                        <label for="content" class="journal-label">오늘의 일기</label>
                        <textarea name="content" id="content" class="entry-text-box"
                            placeholder="일기를 적어주세요. 💭">{{content.content}}</textarea>
                        <details>
                            <summary class="journal-label">감정 이모티콘🔻</summary>
                            <div class="wrap">
                                <div class="list" id="emoticon">
                                    <input type="radio" name="chk_info" value="😀" checked="checked">😀
                                    <input type="radio" name="chk_info" value="😄">😄
                                    <input type="radio" name="chk_info" value="😆">😆
                                    <input type="radio" name="chk_info" value="😅">😅
                                    <input type="radio" name="chk_info" value="😑">😑
                                    <input type="radio" name="chk_info" value="😷">😷
                                    <input type="radio" name="chk_info" value="🥰">🥰
                                    <input type="radio" name="chk_info" value="😭">😭
                                    <input type="radio" name="chk_info" value="😡">😡
                                </div>

                            </div>
                        </details>
                        <input type="hidden" name="contentId" value={{content.contentId}} />
                        <button class="btn-main entry-submit-btn" form="entryForm" type="submit">수정하기</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../static/js/readContent.js"></script>
</body>

</html>