<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% include 'form.html' %}
    <link rel="stylesheet" href="../static/css/post.css">
    <title>일기 작성</title>
</head>

<body>
    {% include "header_clean.html" %}
    <!-- Journal Entry Section -->
    <section class="section journal-section">
        <div class="container">
            <div class="container-row container-row-journal">
                <div class="container-item container-item-journal">
                    <form id="entryForm" action="">
                        <h2 class="title">일기 쓰기</h2>
                        <p class="title"> - - - - </p>
                        <label for="title" class="journal-label">제목</label>
                        <input type="text" name="entry-title" id="title" class="entry-text-title"
                            placeholder="제목은 안적어도 괜찮아요. ✏️" maxlength="34" />
                        <label for="content" class="journal-label">오늘의 일기</label>
                        <textarea name="daily-entry" id="content" class="entry-text-box" placeholder="일기를 적어주세요. 💭"
                            maxlength="240"></textarea>
                        <details>
                            <input type="hidden" id="userId" value="">
                            <input type="hidden" id="username" value="">
                            <summary class="journal-label">감정 이모티콘🔻</summary>
                            <div class="wrap">
                                <div class="list" id="emoticon">
                                    <input type="radio" name="chk_info" value="😀" checked="checked">😀
                                    <input type="radio" name="chk_info" value="😄">😄
                                    <input type="radio" name="chk_info" value="😆">😆
                                    <input type="radio" name="chk_info" value="😅">😅
                                    <input type="radio" name="chk_info" value="😑">😑
                                    <input type="radio" name="chk_info" value="😷">😷
                                    <input type="radio" name="chk_info" value="🥰">🥰
                                    <input type="radio" name="chk_info" value="😭">😭
                                    <input type="radio" name="chk_info" value="😡">😡
                                </div>

                            </div>
                        </details>
                        <button class="btn-main entry-submit-btn" onclick="postDiary()" type="button">작성하기</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/post.js"></script>

</body>

</html>