<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>어떤일기</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- normalize -->
    <link rel="stylesheet" href="../static/normalize.css">
    <!-- header -->
    <link rel="stylesheet" href="../static/header.css">
    <!-- global css -->
    <link rel="stylesheet" href="./static/global.css">
    <!-- main -->
    <link rel="stylesheet" href="../static/main.css">

</head>

<body>
{% include "header.html" %}

<div class="container w-50 center-block">

	<div class="form-group">
		<input type="hidden" id="contentId">
		<input type="hidden" id="username">
		<h1>글제목</h1>
		<div id=contentDate>date</div>
		<br/>
		<span id=content>글내용</span>
	</div>
    <button>수정하기</button><button>삭제하기</button>

</div>
</body>

</html>