<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>어떤일기</title>

    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <script type=text/javascript src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


</head>
    <body>
    <!--로고-->
    <a href="/">
        <img src="../static/image/002-2.png" class="logo" alt="">
    </a>

    <!--회원가입 박스-->
    <div class="myjoin_box" id="join-box">
        <div class="join_text">
            어떤일기 계정만들기
        </div>

        <!--회원가입 form-->
        <div class="form-floating mb-2">
            <input type="text" name="userId" class="form-control" id="userid" placeholder="아이디" style="height: 50px;" onchange="change_id()">
            <label> 아이디 </label>
            <button type="button" class="btn btn-outline-dark btn-sm" style="margin-left:228px; background-color: #fff; margin-top:5px;" onclick="id_check()">중복확인</button>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="username" placeholder="닉네임" style="height: 50px; margin-bottom:6px;">
            <label> 닉네임 </label>
        <div class="form-floating mb-2">
            <input type="password" name="password" class="form-control" id="userpw" placeholder="비밀번호"
                   style="height: 50px">
            <label> 비밀번호 </label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" name="password2" class="form-control" id="userpw2" placeholder="비밀번호 확인"
                   style="height: 50px;">
            <label>비밀번호 확인 </label>
        </div>
        <div class="join_btn">
            <button type="button" class="btn btn-outline-dark" onclick="location.href = '/login'">취소</button>
            <button type="submit" onclick="registerform_check();" class="btn btn-outline-dark">회원가입</button>
        </div>
    </body>
</html>